<div class="container-fluid" style="background-color: black;"  ng-controller="PlayerCtrl">

	        <div class="row" style="font-size: 18px; color: white;">
                    <div class="col-md-2">
                        <div>
                            <table style="width: 100%; height: 50px">
                                <tr>
                                        <td style="text-align: center;"><span ng-click="previousTrack()" class="glyphicon glyphicon-fast-backward clickable-glyph""></span></td>
                                    <td style="text-align: center;">
                                        <span ng-show="!isPlaying" ng-click="play()" class="glyphicon glyphicon-play clickable-glyph"></span>
                                        <span ng-show="isPlaying" ng-click="pause()" class="glyphicon glyphicon-pause clickable-glyph"></span>
                                    </td>
                                    <td style="text-align: center;"><span ng-click="nextTrack()" class="glyphicon glyphicon-fast-forward clickable-glyph"></span></td>
                                </tr>
                            </table>
                        </div>

                    </div>

                    <div class="col-md-9">
                        <table style="width: 100%; height: 50px">
                                <tr>
                                    <td style="text-align: center;width: 20px">{{formatDuration(trackProgress)}}</td>
                                    <td style="text-align: center;padding-left: 20px; padding-right:20px">

                                        <div min="0" max="{{trackLength}}" disabled="true" ng-model="trackProgress" ui-slider="playbackOptions"></div>

                                    </td>
                                    <td style="text-align: center;width: 20px">{{formatDuration(trackLength)}}</td>
                                </tr>
                        </table>
                    </div>

                    <div class="col-md-1">
                        <table style="width: 100%; height: 50px">
                                <tr>
                                    <td style="text-align: center;"><span class="glyphicon glyphicon-random clickable-glyph" style="color: {{isShuffleOn ? '#00FF00' : 'inherit'}}" ng-click="toggleShuffle()"></span></td>
                                    <td style="text-align: center;"><span class="glyphicon glyphicon-repeat clickable-glyph" style="color: {{isRepeatOn ? '#00FF00' : 'inherit'}}" ng-click="toggleRepeat()"></span></td>
                                </tr>
                            </table>
                    </div>

	        </div>		
</div>